*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	list-style-type: none;
	text-decoration: none;
	border: none;
	outline: none;
	user-select: none;
}
html{
	scroll-behavior: smooth;
}
body{
	max-width: 1500px;
	margin: auto;
	background: #070707;
	color: whitesmoke;
}
a{
	color: white;
}
button{
	background: none;
}
p{
	line-height: 24px;
	color: silver;
}
span{
	color: dodgerblue;
}
.heading{
	font-size: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}
section{
	padding: 3rem;
}
@media(max-width: 768px){
	section{
		padding: 3rem 2rem;
	}
}
@media(max-width: 480px){
	section{
		padding: 3rem 1rem;
	}
	.heading{
		font-size: 2rem;
	}
}
.btn{
	font-size: 16px;
	padding: 8px 24px;
	border: 2px solid dodgerblue;
	border-radius: 32px;
	transition: .3s;
	background: none;
	color: whitesmoke;
	cursor: pointer;
}
.btn:hover{
	background: dodgerblue;
}

/* ---------- header ---------- */
.header{
	max-width: 1500px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 3rem;
	width: 100%;
	background: #070707;
	z-index: 9998;
}
.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
}
.header .container .logo{
	font-size: 1.5rem;
	letter-spacing: 1px;
}
.header .container .navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem 1.5rem;
}
.header .container .navbar .gambar{
	display: none;
}
.header .container .navbar a{
	font-weight: bold;
}
.header .container .navbar a:hover{
	color: dodgerblue;
	transition: .3s;
}
.header .container .navbar .medsos-top{
	display: none;
}
.header .container .btn i{
	padding-right: 8px;
}
.header .container .menu{
	display: none;
	z-index: 9999;
	cursor: pointer;
}
/* responsive media query*/
@media(max-width: 800px){
	.header{
		padding: 0 2rem;
	}
	.header .container .menu{
		display: block;
		font-size: 20px;
	}
	.header .container .navbar{
		position: absolute;
		top: 0;
		left: -200%;
		width: 500px;
		height: 100vh;
		background: hotpink;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		transition: 5s;
	}
	.header .container .navbar.aktif{
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}
	.header .container .navbar .gambar{
		width: 100px;
		height: 100px;
		display: block;
	}
	.header .container .navbar a{
		display: block;
	}
	.header .container .navbar .medsos-top{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem 2rem;
		width: 100%;
		padding: 2rem;
		border-top: 1px solid rgba(128,128,128,.1);
	}
	.header .container .navbar .medsos-top a{
		font-size: 20px;
		font-weight: 500;
		color: grey;
	}
	.header .container .navbar .medsos-top a:hover{
		color: dodgerblue;
	}
	.header .container .btn{
		display: none;
	}
}
@media(max-width: 480px){
	.header{
		padding: 0 1rem;
	}
}

/* ---------- seksi hero ---------- */
.hero{
	height: calc(100vh - 80px);
	width: 100%;
	margin-top: 80px;
}
.hero .container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
}
.hero .container div{
	width: 100%;
}
.hero .container div:first-child > *{
	margin-bottom: 1rem;
}
.hero .container div:first-child h1{
	font-size: 48px;
}
.hero .container div:first-child .btn{
	margin-bottom: 0;
}
.hero .container div:last-child img{
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}
@media(max-width: 768px){
	.hero .container{
		flex-direction: column-reverse;
	}
	.hero .container div:first-child{text-align: center;}
	.hero .container div:last-child img{
		width: auto;
		height: auto;
	}
}
@media(max-width: 480px){
	.hero{
		padding: 1rem;
	}
	.hero .container div:first-child h1{
		font-size: 2rem;
	}
}

/* ---------- seksi about ---------- */
.about{
	background-color: #191919;
}
.about .container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  	gap: 1rem;
}
.about .container div{
	width: 100%;
	height: 100%;
}
.about .container div:first-child{
	width: 100%;
	height: 100%;
}
.about .container div:first-child img{
	height: auto;
	width: auto;
	margin: auto;
	display: block;
}
.about .container div:last-child > *{
	margin-bottom: 1rem;
}
.about .container div:last-child h3{
	font-size: 3rem;
}
.about .container div:last-child .btn{
	margin-bottom: 0;
	background: none;
}
.about .container div:last-child .btn:hover{
	background: dodgerblue;
}
@media(max-width: 768px){
	.about .container{
		flex-direction: column;
		gap: 2rem 0;
	}
	.about .container div:first-child img{
		width: auto;
    	height: auto;
	}
	.about .container div:last-child{
		text-align: center;
	}
}
@media(max-width: 480px){
	.about .container div:first-child img{
		width: 100%;
    	height: 100%;
	}
	.about .container div:last-child h3{
		font-size: 2rem;
	}
}

/* ---------- features ---------- */
.features{
	background: #070707
}
.features .container{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  	gap: 1rem;
  	align-items: center;
}
.features .container .box{
	padding: 16px;
	background: #191919;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.features .container .box > *{
	margin: 1rem;
}
.features .container .box h3{
	font-size: 24px;
}
.features .container .box i{
	color: dodgerblue;
	font-size: 4rem;
}
.features .container .box p{
	text-align: center;
	color: silver;
}

/* ---------- skill ---------- */
.skill{
	background: #191919;
}
.skill .container .box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding: 4px 8px;
}
.skill .container .box h3,
.skill .container .box p{
	color: whitesmoke;
	font-weight: bold;
	text-shadow: 2px 2px #191919;
	letter-spacing: 1.25px;
}
.skill .container .box.html.aktif {
	width: 99%;
	background: #ff5722;
}
.skill .container .box.css.aktif {
	width: 95%;
	background: #2194f0;
}
.skill .container .box.js.aktif {
	width: 85%;
	background: #efd81d;
}
.skill .container .box.blogger.aktif {
	width: 90%;
	background: #ff561c;
}
.skill .container .box.wp.aktif{
	width: 90%;
	background: #007298;
}
.skill .container .box.bs.aktif{
	width: 93%;
	background: #533b78;
}
.skill .container .box.tailwind.aktif{
	width: 90%;
	background: #07b0ce;
}


/* ---------- contact ---------- */
.contact{
	background: #070707;
}
.contact .container{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  	gap: 1rem;
  	align-items: center;
}
.contact .container .box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	background: #191919;
	border-radius: 20px;
}
.contact .container .box > *{
	margin: 1rem;
}
.contact .container .box h3{
	font-size: 24px;
}
.contact .container .box i{
	font-size: 4rem;
	color: dodgerblue;
}
.contact .container .box p{
	color: silver;
}
.contact .container .box a{
	color: dodgerblue;
	border: 2px solid dodgerblue;
	font-weight: 500;
	padding: 8px 24px;
	border-radius: 30px;
	transition: .3s;
}
.contact .container .box a:hover{
	background: dodgerblue;
	color: whitesmoke;
	cursor: pointer;
}

/* ---------- footer ---------- */
.footer{
	padding: 3rem;
	background: #101010;
}
.footer .container{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem 1rem;
}
.footer .container div{
	width: calc(100% / 2);
}
.footer .container .map iframe{
	width: 100%;
	height: 450px;
}
.footer .container .alamat div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.footer .container .alamat .rute{
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 0;
}
.footer .container .alamat .rute .btn{
	background: dodgerblue;
	color: whitesmoke;
}
.footer .container .alamat .rute .btn:hover{
	background: navy;
	border: 2px solid navy;
}
.footer .container .alamat div h3{
	color: silver;
	font-size: 18px;
}
.footer .credit{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid rgba(105, 105, 105, .25);
	margin-top: 1.5rem;
	padding-top: 3rem;
}
.footer .credit p a{
	color: dodgerblue;
}
.footer .credit p a:hover{
	color: blue;
}
.footer .credit p span{
	color: silver;
}
.footer .credit div a{
	padding: 0 8px;
	font-size: 18px;
	color: skyblue;
}
.footer .credit div a:hover{
	color: dodgerblue;
}

/* responsive */
@media(max-width: 768px){
	.footer{
		padding: 3rem 2rem;
	}
	.footer .container{
		flex-direction: column-reverse;
	}
	.footer .container div{
		width: 100%;
	}
}
@media(max-width: 550px){
	.footer .credit{
		flex-direction: column;
	}
	.footer .credit p{
		text-align: center;
		margin-bottom: 1rem;
	}
	.footer .credit p span{
		display: block;
	}
}
@media(max-width: 480px){
	.footer{
		padding: 3rem 1rem;
	}
	.footer .container .alamat div{
		flex-direction: column;
	}
	.footer .container .alamat div h3{
		margin-bottom: 4px;
	}
}